<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{model/Head :: head(~{::title},_,_,${'miniui,common'})}">
        <title>保养任务</title>
    </th:block>
</head>
<body>
<div class="mini-fit">
    <input name="action" class="mini-hidden"/>
    <input class="mini-hidden" name="orient"/>
    <form id="form1">
        <table class="hmq-modify-table">
            <tr>
                <td title>维保单号:</td>
                <td content>
                    <input class="mini-textbox" readonly id="sbwbNote" name="sbwbNote" emptyText="自动生成" />
                </td>
                <td title>维保日期:</td>
                <td content>
                    <input id="sbwbRq" name="sbwbRq" property="editor" class="mini-datepicker" format="yyyy-MM-dd" value="new Date()" />  
                </td>
                <td title>设备编号:</td>
                <td content>
                    <input class="mini-combobox" required name="sbwbSbid" 
                     url="/mSbJt/by/getSbwbSbid" />
                </td>
             </tr>
             <tr>
                <td title>维保部门:</td>
                <td content>
                     <input emptyText="请选择..." value="ROOT" text="" id="sbwbDept"
                           allowInput="false" class="mini-buttonedit"
                           onbuttonclick="onDeptClickHander" required name="sbwbDept"/>
                </td>
                
                <td title>维保大类:</td>
                <td content>
                    <input class="mini-combobox" required name="sbwbDtype" 
                     url="/mSbJt/by/getSbwbDtype" />
                </td>
                <td title>维保小类:</td>
                <td content>
                    <input class="mini-combobox" required name="sbwbXtype" 
                     url="/mSbJt/by/getSbwbXtype" />
                </td>
              </tr>
                
                <td title>申请人员:</td>
                <td content>
                    <input class="mini-combobox" required name="sbwbSman" 
                     url="/mSbJt/by/getSbwbSman" />
                </td>
                <td title>维保状态:</td>
                <td content>
                    <input class="mini-textbox" readonly name="sbwbFlag" emptyText="自动生成"/>
                </td>
                <td title>受理时间:</td>
                <td content>
                    <input id="sbwbJtime" name="sbwbJtime" property="editor" class="mini-datepicker" format="yyyy-MM-dd" value="new Date()" />
                </td>
              </tr>
              <tr>
                
                <td title>维保情况:</td>
                <td content colspan="5">
                    <input class="mini-textbox" name="sbwbSm"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="mini-toolbar hmq-toolbar">
    <a class="mini-button" onclick="SaveData" iconCls="icon-save" id="saveBtn">保存</a>
    <a class="mini-button" onclick="CloseWindow" iconCls="icon-cancel">关闭</a>
</div>
</body>
<script type="text/javascript">
    mini.parse();
    var form = new mini.Form('form1');

    /**
     * 保存数据
     * @constructor
     */
    function SaveData() {
        if (form.validate() && form.isValid()) {
            let method = 'add' == $('[name=action]').val() ? 'post' : 'put';
            $[method]("add.html", JSON.stringify(form.getData(true)),
                function (res) {
                    if (200 === res.code) {
                        hmq.tipSuccess(res.msg || '保存成功', {
                            exec: function () {
                                CloseWindow('refresh');
                            }
                        });
                    } else {
                        hmq.tipDanger(res.msg || '保存失败');
                    }
                }, null, {
                    contentType: 'application/json'
                });
        }
    }
    
    function SetData(options) {
        if ('add' == options.action) {
            $('[name=action]').val(options.action);
        } else if ('edit' == options.action) {
            $.get("mSbSbwbList.html/{0}".format(options.data.sbwbNote), function (res) {
                if (200 === res.code) {
                    form.setData(res.data);
                    mini.get("sbwbDept").setText(res.data.deptname);
                    mini.get("sbwbDept").setValue(res.data.sbwbDept);
                }
            });
        }
    }
  
    /**
     *  部门选择
     * */
    function onDeptClickHander(e) {
        var btnEdit = e.sender;
        return miniopen({
            targetWindow: window.top,
            url: "/system/dept/hierarchyDeptTree.html",
            title: "【部门】选择",
            data: "root",
            width: 500,
            height: 420,
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    btnEdit.setValue(data.deptId);
                    btnEdit.setText(data.deptName);
                }
            }
        });
    }
</script>
</html>
