<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tz="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="~{model/Head :: head(~{::title},_,_,${'miniui,common'})}">
        <title>客户管理【新增】</title>
    </th:block>
</head>
<body>


<div class="mini-fit">
    <input name="action" class="mini-hidden"/>
    <form id="form1">
        <input name="deptId" class="mini-hidden"/>
        <table class="hmq-modify-table">
            <tr>
                <td title>工号:</td>
                <td content >
                    <input class="mini-TextBox"
                           emptyText="请输入"  allowInput="true" name="workerId"  required/>
                </td>
          

                <td title>姓名:</td>
                <td content >
                    <input class="mini-TextBox"
                          name="workerName"  required/>
                </td>
             
                <td title>岗位:</td>
                <td content>
                    <input class="mini-comboBox"  required name="workerPost"  url="/personnel/eHrWorker/selectGzgw" />
                </td>
            </tr>
            <tr>
                <td title>职务:</td>
                <td content>
                    <input class="mini-comboBox" url="/personnel/eHrWorker/selectGzzw" required name="workerDuty" />
                </td>
                <td title>性别:</td>
                <td content >
                    <input class="mini-ComboBox"  textField="text" valueField="id"  data="[{id:'true',text:'男'},{id:'false',text:'女'}]"
                           emptyText="请选择..." allowInput="false" name="workerSex"  required/>
                </td>
                <td title>员工类型:</td>
                <td content >
                    <input class="mini-comboBox" name="workerType"   url="/personnel/eHrWorker/selectYglx" required/>
                </td>
                <td title>学历:</td>
                <td content >
                    <input class="mini-ComboBox" name="workerBackground"  url="/personnel/eHrWorker/selectXl" required/>
                </td>
            </tr>
            <tr>
                <td title>联系方式</td>
                <td content colspan="3">
                     <input class="mini-textBox" name="workerPhone" required/>
                </td>
                <td title>户口</td>
                <td content>
                      <select class="mini-ComboBox" required name="workerRegistered" >
                      <option value="">请选择</option>
                      <option value="农村">农村</option>
                      <option value="城市">城市</option>
                      <option value="港/澳/台">港/澳/台</option>
                      </select>
                </td>
                <td title>员工生日</td>
                <td content>
                       <input class="mini-datepicker" format="yyyy-MM-dd"   required  name="workerBirthday" id="workerBirthday" />
                </td>
            </tr>
            <tr>
                 <td title>身份证号</td>
                 <td content colspan="3">
                       <input class="mini-textbox" required  name="workerCard" id="workerCard" onBlur="onblur"/>
                 </td>
                 <td title>籍贯</td>
                 <td content colspan="3">
                       <input class="mini-TextBox" required name="workerTerritory" />
                 </td>
            </tr>
            <tr>
                 <td title>家庭住址</td>
                 <td content colspan="7">
                       <input class="mini-textbox" required  name="workerAddress" />
                 </td>
            </tr>
            <tr>
                 <td title>银行账号</td>
                 <td content colspan="7">
                       <input class="mini-textbox"  name="workerAccount" />
                 </td>

            </tr>
            <tr>
                 <td title>教育经历</td>
                 <td content colspan="7">
                    <input class="mini-textarea" required="false"  name="workerEducation" />
                 </td>
            </tr>
            <tr>
                 <td title>工作经历</td>
                 <td content colspan="7">
                    <input class="mini-textarea" name="workerJob" />
                 </td>
            </tr>
            <tr>
                 <td title>培训经历</td>
                 <td content colspan="7">
                    <input class="mini-textarea" name="workerHdry" />
                 </td>
            </tr>
            <tr>
                <td title>入职日期</td>
                <td content colspan="3">
                    <input class="mini-datepicker" format="yyyy-MM-dd"  value="new Date()" required  name="workerHiredate" />
                </td>
                <td title>保险</td>
                <td content >
                    <input class="mini-comboBox" required name="workerInsurance" url="/personnel/eHrWorker/selectGzbx"/>
                </td>
                <td title>状态:</td>
                <td content>
                    <select class="mini-ComboBox" required name="workerFlag" >
                      <option value="启用">启用</option>
                      <option value="禁用">禁用</option>
                    </select>
                </td>
            </tr>
       
        </table>
    </form>
</div>
<div class="mini-toolbar hmq-toolbar">
    <a class="mini-button" onclick="SaveData" iconCls="icon-save" id="saveBtn">保存</a>
    <a class="mini-button" onclick="CloseWindow" iconCls="icon-cancel">关闭</a>
</div>
</body>
<script type="text/javascript">
    mini.parse();
    var form = new mini.Form('form1');

    function SetData(options) {
        if ('add' == options.action) {
            $('[name=action]').val(options.action);
        } else if ('edit' == options.action) {
            $.get("eHrWorkerList.html/{0}".format(options.data.workerId), function (res) {
                if (200 === res.code) {
                    form.setData(res.data);
                    mini.get("workerDept").setText(res.data.workerDeptName);
                    mini.get("workerDept").setValue(res.data.workerDept);
                }
            });
        }else if('view' == options.action){
        	$.get("eHrWorkerList.html/{0}".format(options.data.workerId), function (res) {
                if (200 === res.code) {
                    form.setData(res.data);
                    mini.get("workerDept").setText(res.data.workerDeptName);
                    mini.get("workerDept").setValue(res.data.workerDept);
                }
            });
        	form.setEnabled(false);
            mini.get("saveBtn").setVisible(false);
        }
    }

    /**
     *
     **/
    function SaveData() {
        if (form.validate() && form.isValid()) {
            var method = 'add' == $('[name=action]').val() ? 'post' : 'put';
            $[method]("add.html",JSON.stringify(form.getData(true)),
                function (res) {
                    if (200 === res.code) {
                        hmq.tipSuccess(res.msg || '保存成功', {
                            exec: function () {
                                CloseWindow('refresh');
                            }
                        });
                    } else {
                        hmq.tipDanger(res.msg || '保存失败');
                    }
                }, null, {
                    contentType: 'application/json'
                });
        }
    }






    //input失去焦点事件 
    function onblur(e){
    	var workerCard=mini.get("workerCard").getValue();
    	if(workerCard.length!=15 && workerCard.length!=18){
    		mini.get("workerBirthday").setValue("");
    		hmq.tipDanger('请检查身份证的正确性!');

    	}else{
    		var dates=workerCard.substr(6,4)+"-"+workerCard.substr(10,2)+"-"+workerCard.substr(12,2);
        	var date= new Date(Date.parse(dates.replace(/-/g,   "/")));
        	mini.get("workerBirthday").setValue(date);
    	}
    }





</script>
</html>
