<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tz="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="~{model/Head :: head(~{::title},_,_,${'miniui,common'})}">
        <title>物品外出【新增】</title>
    </th:block>
</head>
<body>
<div class="mini-fit">
    <form id="form1">
        <input id="action" name="action" class="mini-hidden"/>
        <input id="note" name="note"  class="mini-hidden"/>
        <input id="wcFlag" name="wcFlag"  class="mini-hidden"/>
        <input id="dataCorp" name="dataCorp"  class="mini-hidden"/>
        <table class="hmq-modify-table">
            <tr>
                <td title>日 期：</td>
                <td content>
                    <input id="ccRq" name="ccRq" class="mini-datepicker" required value="new Date()" />
                </td>
                <td title>外出地点：</td>
                <td content>
                    <input id="ccAdd" name="ccAdd" class="mini-textbox" required  />
                </td>
                <td title>外出类别：</td>
                <td content>
                    <select id="wcType" name="wcType" class="mini-combobox" required >
                        <option value="处理物品外出">处理物品外出</option>
                        <option value="外借物品外出">外借物品外出</option>
                        <option value="客户暂放物品">客户暂放物品</option>
                        <option value="维修物品外出">维修物品外出</option>
                    </select>
                </td>
            </tr>
            <tr>
                <!--<td title>公 司:</td>
                <td content>
                    <input id="dataCorp" name="dataCorp" class="mini-combobox" />
                </td>-->
                <td title>经办人：</td>
                <td content>
                    <input id="jbMan" name="jbMan" class="mini-buttonedit" onbuttonclick="onButtonEditMan" />
                </td>
                <td title>经办部门：</td>
                <td content>
                    <input id="jbDept" name="jbDept" popupMaxHeight="240px" class="mini-treeselect" multiSelect="false" valueFromSelect="false"
                            showClose="true" oncloseclick="onCloseClickClearValue"/>
                </td>
            </tr>
            <!--<tr>
                <td title>是否回厂:</td>
                <td content>
                    <select id="isBack" name="isBack" class="mini-combobox" required onvaluechanged="onChangeBack">
                        <option  value="不再回厂">不再回厂</option>
                        <option  value="会再回厂">会再回厂</option>
                    </select>
                </td>
                <td title>回厂确认:</td>
                <td content>
                    <input id="hcMan" name="hcMan" class="mini-buttonedit" onbuttonclick="onButtonEditMan"/>
                </td>
                <td title>回厂日期:</td>
                <td content>
                    <input id="hcRq" name="hcRq" class="mini-datepicker" value="new Date()" />
                </td>
            </tr>-->
            <tr>
                <td title>出厂原因：</td>
                <td content colspan="5">
                    <input id="ccSm" name="ccSm" class="mini-textarea" required/>
                </td>
            </tr>
        </table>
    </form>
    <div tz:datagrid="datagrid" id="datagrid" idField="sid" sortField="sid" sortOrder="asc" style="width:100%;height:250px;"
         url="/xt/getInOut/wpwc/getWpwcMx"
         allowCellEdit="true" allowCellSelect="true" multiSelect="true" editNextOnEnterKey="true" editNextRowCell="true" allowMoveColumn="true"
         showPager="false" OnCellCommitEdit="OnCellCommitEdit" allowCellValid="true" showColumnsMenu="true"
         showSummaryRow="true" OnCellBeginEdit="OnCellBeginEdit" allowSortColumn="false">
        <input id="sid" name="sid" class="mini-hidden"/>
        <div property="columns">
            <div tz:datagrid="checkcolumn" width="35"></div>
            <div tz:datagrid="column" field="ccWp" name="ccWp" align="left" width="100">物品名称
                <input id="ccWp" property="editor" class="mini-textbox" showTime="true" />
            </div>
            <div tz:datagrid="column" field="wpSl" name="wpSl" align="right" width="60">数量
                <input id="wpSl" property="editor" class="mini-textbox"  showTime="true"/>
            </div>
            <div tz:datagrid="column" field="wpUnit" name="wpUnit" align="left" width="60">单位
                <input id="wpUnit" property="editor" class="mini-textbox" />
            </div>
            <div tz:datagrid="column" field="isBack" name="isBack" align="center" width="80">是否回厂
                <select property="editor" class="mini-combobox" >
                    <option  value="不再回厂">不再回厂</option>
                    <option  value="会再回厂">会再回厂</option>
                </select>
            </div>
            <div tz:datagrid="column" field="hcMan" name="hcMan" displayField="hcManName" align="center" width="100">回厂确认
                <input property="editor" class="mini-buttonedit" onbuttonclick="onButtonEditMan" />
            </div>
            <div tz:datagrid="column" field="hcRq" name="hcRq" align="center" width="100">回厂日期
                <input property="editor" class="mini-datepicker" />
            </div>
            <div tz:datagrid="column" field="wpSm" name="wpSm" align="left" width="180">备注
                <input id="wpSm" property="editor" class="mini-textbox"/>
            </div>
        </div>
    </div>
</div>
<div class="mini-toolbar hmq-toolbar">
    <a class="mini-button" onclick="addRow" iconCls="icon-add" id="addBtn">增行</a>
    <a class="mini-button" onclick="delRow" iconCls="icon-remove" id="delBtn">删行</a>
    <a class="mini-button" onclick="delAll" iconCls="icon-remove" id="delAllBtn">删单</a>
    <a class="mini-button" onclick="SaveData" iconCls="icon-save" id="saveBtn">保存</a>
    <a class="mini-button" onclick="CloseWindow" iconCls="icon-cancel">关闭</a>
</div>
<th:block th:replace="~{model/Approval :: Approval() }"></th:block>
</body>
<script type="text/javascript">
    mini.parse();
    var form = new mini.Form("form1");
    var grid = mini.get("datagrid");
    /**
     新增行
     */
    function addRow() {
        var index = grid.getData().length;
        var newRow = {
            name: "",
        };
        grid.addRow(newRow, index + 1);
    }

    /**
     删除行
     */
    function delRow() {
        var rows = grid.getSelecteds();
        if (rows.length > 0) {
            grid.removeRows(rows, true);
        } else {
            hmq.tipDanger('请选择需要删除的行！');
        }
    }

    /**
     删除整单
     */
    function delAll() {
        var note = mini.get("note").getValue();
        var rows = grid.getData();
        if (note.length > 0) {
            mini.confirm("确定删除整单吗？", "提示信息", function (returndata) {
                if (returndata == "ok") {
                    if (rows.length > 0) {
                        grid.removeRows(rows, true);
                    }
                    mini.get("delAllBtn").disable();
                    $['delete']("delete/{0}".format(note), function (res) {
                        if (200 === res.code) {
                            hmq.tipSuccess(res.msg || '删除成功', {
                                exec: function () {
                                    CloseWindow('refresh');
                                }
                            });
                        } else {
                            hmq.tipDanger(res.msg || '删除失败');
                        }
                    });
                }
            });
        } else {
            if (rows.length > 0) {
                grid.removeRows(rows, true);
            }
        }
    }
    /**
     人员选择
     */
    function onButtonEditMan(e){
        var btnEdit = e.sender;
        return miniopen({
            targetWindow: window.top,
            url: "/personnel/checkWorkAttendance/leave/worker.html",
            title: "人员选择",
            width: 750,
            data: {},
            height: 620,
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    btnEdit.setValue(data.workerId);
                    btnEdit.setText(data.workerName);
                    mini.get("dataCorp").setValue(data.workerCorpid);
                    mini.get("jbDept").setUrl("/system/dept/combobox/getDeptTreeList/{0}".format(data.workerCorpid));
                    mini.get("jbDept").setValue(data.workerDept);
                }
            }
        });
    }

    /**
     保存
     */
    function SaveData() {
        if (form.validate() && form.isValid()) {
            grid.validate();
            if (grid.isValid() == false) {
                var error = grid.getCellErrors()[0];
                grid.beginEditCell(error.record, error.column);
                return;
            }
            var entrydata = grid.getData();
            var deletedList = grid.getChanges('removed', false);
            $(entrydata).each(function (index) {
                entrydata[index].rightOrd = index;
                entrydata[index]._state = entrydata[index]._state || 'modified';
            });
            var method = 'add' == $('[name=action]').val() ? 'post' : 'put';
            $[method]("add.html", JSON.stringify({
                eXtWpwc: form.getData(true),
                eXtWpwcMx: entrydata,
                deletedList: deletedList
            }), function (res) {
                if (200 === res.code) {
                    hmq.tipSuccess(res.msg || '保存成功', {
                        exec: function () {
                            CloseWindow('refresh',false);
                        }
                    });
                } else {
                    hmq.tipDanger(res.msg || '保存失败');
                }
            }, null, {
                contentType: 'application/json'
            });
        }
    }

    /**
     * 回调函数
     * @param options
     * @constructor
     */
    function SetData(options) {
        if (true !== options.isApproval) {

            //普通口径
            var formData = options.data.formData;
            var row = options.data.row;
            if ('add' == options.action) {
                $('[name=action]').val(options.action);
                data = mini.clone(options);
                form.setChanged(false);
            } else if ('edit' == options.action) {
                $.get("getById/{0}".format(row.note), function (res) {
                    if (200 === res.code) {
                        form.setData(res.data);
                        var data = mini.decode(res.data);
                        //mini.get("hcMan").setText(data.hcManName);
                        mini.get("jbMan").setValue(data.jbMan);
                        mini.get("jbMan").setText(data.manName);
                        mini.get("jbDept").setUrl("/system/dept/combobox/getDeptTreeList/{0}".format(data.dataCorp));
                        mini.get("jbDept").setValue(data.jbDept);
                        grid.load({
                            params: JSON.stringify({note: form.getField('note').getValue()})
                        });
                    }
                });
            }
        } else {
            //审批口径
            $.get("add.html/{0}".format(options.data.businessId), function (res) {
                if (200 === res.code) {
                    form.setData(res.data);
                }
            }, null, null, {
                complete: function () {
                    //隐藏按钮区域
                    $(".mini-toolbar.hmq-toolbar a.mini-button").hide();
                    //表单只读
                    setFormReadOnly(form);
                }
            });
        }
    }

    function OnCellBeginEdit(e) {
        var record = e.record;
        var field = e.field;
    }
    function OnCellCommitEdit(e) {
        var editor = e.editor;
        editor.validate();
        if (editor.isValid() == false) {
            hmq.tipDanger(editor.getErrorText());
            e.cancel = true;
        }
    }
    grid.on("cellbeginedit",function(e){    //可以在这事件里处理，可以精确控制到每个单元格。
        var field = e.field;
        var record = e.record;
        if(field=="hcMan"|| field=="hcRq"){
            if(record.isBack=="不再回厂"){
                e.cancel=true;   //阻止编辑
            }
        }
    })
</script>
</html>