<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tz="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="~{model/Head :: head(~{::title},_,_,${'miniui,common'})}">
        <title>订单统计</title>
    </th:block>
</head>
<body>
<th:block th:replace="~{model/SearchBar :: SearchBar('form1',~{::content})}">
    <th:block th:fragment="content">
        <input class="mini-hidden" name="orient" id="orient"/>
        <input class="mini-hidden" name="htStype" id="htStype" width="100"/>
        <input class="mini-hidden" name="paramMod" id="paramMod" width="100"/>
        <label class="hmq-label" text="日期">
            <input class="mini-datepicker" name="srchRq1" dateFormat="yyyy-MM-dd" width="110"/>
        </label>
        <label class="hmq-label" text="至">
            <input class="mini-datepicker" name="srchRq2" dateFormat="yyyy-MM-dd" width="110"/>
        </label>
        <label class="hmq-label" text="合同单号">
            <input class="mini-textbox" name="htNo" width="120"/>
        </label>
        <label class="hmq-label" text="供应商">
            <input name="htSupplier" emptyText="全部"
                   allowInput="false" class="mini-buttonedit" onbuttonclick="onSupplierClick" showClose="true" oncloseclick="onCloseClickClearValue" width="140"/>
        </label>
        <label class="hmq-label" text="编码"   for="htCode">
            <input class="mini-textbox" id="htCode" name="htCode" width="110"/>
        </label>
        <label class="hmq-label" text="合同类别">
            <input class="mini-combobox" name=htType id="htType" width="90" url="/cg/yw/purchaseFile/purchaseContract/getHtType" nullItemText="全部" showNullItem="true"/>
        </label>
        <label class="hmq-label" for="cpcodeName" text="名称">
            <input id="cpcodeName" name="cpcodeName" class="mini-treeselect" multiSelect="flase" valueFromSelect="true" textField="combtext" valueField="combid" parentField="pid" value="无" onbeforenodeselect="disableParentSelection"
                   popupWidth="240"
                   popupHeight="180" emptyText="全部" showNullItem="true" nullItemText="全部" allowInput="true"/>
        </label>
        <label class="hmq-label" text="规格" for="cpcodeSize" >
            <input class="mini-textbox" id="cpcodeSize" name="cpcodeSize" width="110"/>
        </label>
        <label class="hmq-label" for="cpcodeFl" text="分类">
            <div id="cpcodeFl" name="cpcodeFl" textField="text" valueField="id" class="mini-combobox" multiSelect="true" showClose="true" oncloseclick="onCloseClickClearValue" style="width:180px;" emptyText="全部" popupMaxHeight="400">
                <div property="columns">
                    <div header="全部" field="text"></div>
                </div>
            </div>
        </label>
        <input th:value="${stype}" class="mini-hidden" name="stype" id="stype"/>
    </th:block>
</th:block>
<!--撑满页面-->
<div class="mini-fit">
    <div tz:datagrid="datagrid" id="srch_top_grid" sortMode="client" showSummaryRow="true" ondrawsummarycell="onDrawSummaryCell">
        <div property="columns">
            <div tz:datagrid="indexcolumn" width="35">序号</div>
            <div tz:datagrid="column" field="htDate" width="100" align="center" renderer="onActionRenderer" dateFormat="yyyy-MM-dd">日期</div>
            <div tz:datagrid="column" field="htNo" width="120" align="center">合同编号</div>
            <div tz:datagrid="column" field="htType" displayField="htTypeName" width="80" align="center">合同类别</div>
            <div tz:datagrid="column" field="htSupplier" displayField="htSupplierName" width="120" align="left">客户</div>
            <div tz:datagrid="column" field="htCode" width="100" align="center">编码</div>
            <div tz:datagrid="column" name="cpcodeNameName" field="cpcodeName" displayField="cpcodeNameName"   align="left" width="120">名称</div>
            <div tz:datagrid="column" name="cpcodeSize" field="cpcodeSize"      displayField="cpcodeSizeName"     align="left" width="130">规格</div>
            <div tz:datagrid="column" name="cpcodeSizeEn" field="cpcodeSizeEn" displayField="cpcodeSizeEnName"     align="left" width="60">品牌</div>
            <div tz:datagrid="column" name="cpcodeFl" field="cpcodeFl" displayField ="cpcodeFlName" align="left" width="80">大类</div>
            <div tz:datagrid="column" field="htSl" width="80" align="right" numberFormat="#,0.0000" summaryType="sum" dataType="double">订单数量</div>
            <div tz:datagrid="column" field="inSl" width="80" align="right" numberFormat="#,0.0000" summaryType="sum" dataType="double">收货数量</div>
            <div tz:datagrid="column" field="htPrice" width="80" align="right" numberFormat="#,0.0000">单价</div>
            <div tz:datagrid="column" field="htJe" width="80" align="right" numberFormat="#,0.00" summaryType="sum">金额</div>
            <div tz:datagrid="column" field="htJq" width="90" align="center" renderer="onActionRenderer" dateFormat="yyyy-MM-dd">交期</div>

            <div tz:datagrid="column" field="htBz" displayField="htBzName" width="80" align="center">币种</div>
            <div tz:datagrid="column" field="htTax" width="60" align="center" renderer="onActionRenderer">税率</div>
            <div tz:datagrid="column" field="htSm" width="250" align="left">说明</div>
            <div tz:datagrid="column" field="htFlag" width="80" align="center">状态</div>
            <div tz:datagrid="column" width="100%"></div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    mini.parse();
    var form = new mini.Form("form1");
    var grid = mini.get("srch_top_grid");
    var surl = "/cg/tj/orderStatistics";
    grid.setUrl(surl + "/getSrchTopList");
    grid.bindSearchForm(form);
    grid.frozenColumns(0, 5);

    //start
    var htStype = hmq.getQueryString("paramType");
    var paramMod = hmq.getQueryString("paramMod");
    form.getField("orient").setValue(hmq.getQueryString("orient"));
    if (hmq.isNotEmpty(htStype)) {
        form.getField("htStype").setValue(htStype);
        form.getField("paramMod").setValue(paramMod);
        setIdReadOnly("outType,paramMod");

        //动态列转换
        hmq.business.dynamicProductParams(htStype, {
            miniDataGrid: grid,
            miniForm: form,
            success: function (map, res) {
            },
            error: function (res) {
                hmq.tipDanger(res.msg || '动态数据列加载失败,请检查配置!');
            }
        });
    }

    //end

    /**
     * 查询
     **/
    function search_option() {
        grid.load();
    }

    /**
     * 汇总
     */
    function onDrawSummaryCell(e) {
        if (e.field == "ht_no") {
            var s = "<span style='color:Brown;'>";
            s += "合计:</span>";
            e.cellHtml = s;
        } else if (e.field == "ht_sl") {
            var s = "<span style='color:Brown;float:right;'>";
            s += "" + parseFloat(e.value).toFixed(4) + "</span>";
            e.cellHtml = s;
        } else if (e.field == "ht_je") {
            var s = "<span style='color:Brown;float:right;'>";
            s += "" + parseFloat(e.value).toFixed(2) + "</span>";
            e.cellHtml = s;
        } else if (e.field == "insl") {
            var s = "<span style='color:Brown;float:right;'>";
            s += "" + parseFloat(e.value).toFixed(4) + "</span>";
            e.cellHtml = s;
        }

    }

    /**
     * 供货单位选择页面
     **/
    function onSupplierClick(e) {
        var btnEdit = e.sender;
        return miniopen({
            targetWindow: window.top,
            url: "/cg/yw/purchaseFile/purchaseContract/supplierselectlist.html",
            title: "【供货单位】选择页面",
            width: 750,
            data: "S",
            height: 620,
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    btnEdit.setValue(data.customerId);
                    btnEdit.setText(data.customerExp);
                }
            }
        });
    }

    /**
     渲染方法
     */
    function onActionRenderer(e) {
        var record = e.record;
        if (e.field == "htDate" && record.htDate != null) {
            return mini.formatDate(new Date(record.htDate), "yyyy-MM-dd");
        } else if (e.field == "htJq" && record.htJq != null) {
            return mini.formatDate(new Date(record.htJq), "yyyy-MM-dd");
        } else if (e.field == "htTax") {
            if (e.value != null) {
                return e.value * 100 + "%";
            }
        }

    }

    
    function export_option(e) {
		assembling({
			grid : grid,
			form : form, //	/cg/tj/orderStatistics/getSrchTopListExportExcel
			url :"/cg/tj/orderStatistics/getSrchTopListExportExcel", //"/cg/yw/purchaseFile/purchaseContract/exportExcel",
			json:['sex']
		});
	}
    
    
    
    
    
    
</script>
</html>