<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tz="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="~{model/Head :: head(~{::title},_,_,${'miniui,common'})}">
        <title>系统参数</title>
    </th:block>
</head>
<body>
<th:block th:replace="~{model/SearchBar :: SearchBar('form_home',~{::content})}">
    <th:block th:fragment="content">
        <!--<input class="mini-hidden" name="orient"/>
        <input class="mini-hidden" name="paramType"/>
        <input class="mini-hidden" name="paramXtype"/>-->
        <label class="hmq-label" text="下料日期">
            <input class="mini-datepicker" name="srchRq1" dateFormat="yyyy-MM-dd" width="110" />
        </label>
        <label class="hmq-label" text="至">
            <input class="mini-datepicker" name="srchRq2" dateFormat="yyyy-MM-dd" width="110" />
        </label>
        <label class="hmq-label" text="类别">
            <input class="mini-combobox" id="srchCpcodeType" name="srchCpcodeType" width="70px"   url="/system/parameter/getCorpChainOrCorpProduction/SC" onvaluechanged="onValueChangeType" />
        </label>
        <label class="hmq-label" text="车台">
            <input class="mini-combobox" id="srchScct" name="srchScct"
                   emptyText="全部" nullItemText="全部" showNullItem="true" onvaluechanged="search_option(e)" url="/mSbJt/sb/getJtAllList" />
        </label>
    </th:block>
</th:block>
<!--撑满页面-->
<div class="mini-fit">
    <!--virtualScroll参数请不要轻易设置，只因为该页参数过多，为提高流畅度才使用-->
    <div tz:datagrid="treegrid" id="srch_grid" sortField="machineId" treeColumn="trename"
         idField="machineId" parentField="pid" resultAsTree="true"
         expandOnLoad="0" showTreeLines="true" ShowTreeicon="false" pageSize="100"
         showPageInfo="false" virtualScroll="true">
        <div property="columns">
            <div tz:datagrid="indexcolumn"></div>
            <div tz:datagrid="column" field="machineId" name="trename" displayField="machineName"  width="260">车台</div>
            <div tz:datagrid="column" field="tname" name="cpcodeName" displayField="cpcodeNameName" width="150" align="left">品名</div>
            <div tz:datagrid="column" field="tsize" name="cpcodeSize" displayField="cpcodeSizeName" width="80" align="center">规格</div>
            <div tz:datagrid="column" field="hgSl" width="90" align="right"  numberFormat="#,0.000">合格数量</div>
            <div tz:datagrid="column" field="blSl" width="90"  align="right" numberFormat="#,0.000">不良数量</div>
            <div tz:datagrid="column" field="bfSl" width="90" align="right"  numberFormat="#,0.000">报废数量</div>
            <div tz:datagrid="column" field="scMan"  align="left">生产人员</div>
            <div tz:datagrid="column" field="gxAcm" name="gxAcm" width="100" align="center" visible="false"></div>
            <div tz:datagrid="column" width="100%"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    mini.parse();
    var form = new mini.Form("form_home");
    var grid = mini.get("srch_grid");
    grid.bindSearchForm(form);
    mini.get("srchCpcodeType").select(0);
    /**
     * 查询
     **/
    function search_option() {
        grid.load();
        grid.collapseAll();
    }
   // onValueChangeType();
    function onValueChangeType(){
        var srchCpcodeType=mini.get("srchCpcodeType").getValue();
        //动态列转换
        if(hmq.isNotEmpty(srchCpcodeType)) {
                hmq.business.dynamicProductParams(srchCpcodeType, {
                    miniDataGrid: [grid],
                    miniForm: form,
                    success: function (map, res) {
                        search_option();
                    },
                    error: function (res) {
                        hmq.tipDanger(res.msg || '动态数据列加载失败,请检查配置!');
                    }
                });
        }
        //end
    }
    //拦截加载事件，加载树形结构
    grid.on('load', function (e) {

        var tree = new mini.DataTree();
        tree.setExpandOnLoad(grid.getExpandOnLoad());
        tree.setSortOrder(grid.getSortField());
        tree.setCheckSelectOnLoad(grid.getCheckSelectOnLoad());
        tree.setMultiSelect(grid.setMultiSelect());
        tree.setData(mini.listToTree(JSON.parse(e.text).data, grid.getNodesField(), grid.getIdField(), grid.getParentField()));

        var paramTypes = mini.getByName("srchScct").getSelecteds().map(function (v) {
            return v.id
        });
        //过滤参数类型
        if (paramTypes.length > 0) {
            var parentNodes = tree.getAllChildNodes().filter(function (node) {
                return !!~node.machineId.indexOf(paramTypes);
            });
            tree.filter(function (node) {
                for (var i = 0, max = parentNodes.length; i < max; i += 1) {
                    if (parentNodes[i].gxAcm == node.gxAcm ||tree.isAncestor(parentNodes[i], node)) {
                        return true;
                    }
                }
                return false;
            });
        }

        grid.loadList(tree.getDataView());
        //销毁控件，释放内存
        tree.destroy();
    });



</script>

</body>
</html>


