.content {
    width: 100%;
    overflow: hidden;
    margin-top: 125px;
}

.content_list {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
.content_list .title{
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    color: #666666;
    text-align: center;
}

.content_list h2 { 
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
    font-size: 18px;
    color: #333333;
    position: relative;
    padding-left: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.content_list h2:before {
    display: inline-block;
    width: 5px;
    content: '';
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background: rgb(232, 0, 0);
    border-radius: 5px;
}
.content_list div{
    margin-bottom: 25px;
}
.content_list p{
    font-size: 14px;
    color: #666666;
    text-indent: 28px;
    line-height: 2;
}
.describe img{
    width: 100%;
    height: 437px;
}
.page .con{
    text-align: justify;
    margin-top: 35px;
}
.page .con:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
.page .con img{
    display: inline-block;
    width: 500px;
    height: 405px;
}
.special img{
    width: 100%;
    height: 581px;
    margin: 15px 0;
}
.model img{
    width: 100%;
    height: 452px;
}
.application img{
    width: 100%;
    height: 916px;
    margin: 0 0 15px;
}
.btn{
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.btn a{
    display: inline-block;
    width: 400px;
    height: 70px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background: #e80000;
    border-radius: 5px;
    font-size: 36px;
}
.btn a:hover{
    color: #fff;
    background: #409fff;
}