.product_content {
    width: 100%;
    overflow: hidden;
}

.content-box {
    margin-top: 20px !important;
}

.proName {
    width: 100%;
    overflow: hidden;
    margin: 60px 0 30px;
}

.proName .collect {
    padding: 0 10px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    background: #e80000;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    margin-left: 30px;
}

.proName .collect i {
    margin-right: 3px;
    font-size: 22px;
    display: inline-block;
    vertical-align: bottom;
}

h3 {
    font-size: 24px;
    color: #333;
    float: left;
    max-width: 432px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

h2 {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
    font-size: 18px;
    color: #333333;
    position: relative;
    padding-left: 15px;
    font-weight: bold;
}

h2:before {
    display: inline-block;
    width: 5px;
    content: '';
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background: rgb(232, 0, 0);
    border-radius: 5px;
}

.left {
    float: left;
    width: 555px;
    overflow: hidden;
    color: #666;
}

.left div {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 15px;
}

.left div p {
    width: 100%;
    line-height: 2;
}

.left p a {
    color: #409fff;
}

.left p a:hover {
    color: #e80000;
}

.left ul {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.left ul li {
    width: 100px;
    height: 35px;
    float: left;
    margin-right: 10px;
    font-size: 16px;
    background: #e80000;
}

.left ul li:first-child {
    background: #409fff;
}

.left ul li a, .left ul li b {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 35px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.left ul li a:hover {
    background-color: #e80000;
}

.right {
    float: right;
    margin-right: 40px;
    width: 240px;
    height: 240px;
    margin-top: -55px;
}

.right img {
    width: 100%;
    height: 100%;
    border: 1px solid #dcdcdc;
}

.content dl {
    width: 100%;
    height: 70px;
    background: rgb(246, 246, 246);
    line-height: 70px;
    margin-top: 10px;
}

.content dl dt, .content dl dd {
    width: 200px;
    height: 100%;
    text-align: center;
    display: inline-block;
}

.content dl dd {
    height: 43px;
    border-left: 1px solid #d7d7d7;
    line-height: 43px;
    font-size: 15px;
    color: #707070;
    vertical-align: middle;
}

.content dl dd p {
    height: 20px;
    line-height: 20px;
    display: block;
}

.content dl dt p {
    font-size: 14px;
    color: #fff;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    background: #e80000;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
}

.content dl dd #quantity, .content dl dd #speed, .content dl dd #attitude {
    height: 20px;
    line-height: 20px;
    display: block;
}

.content dl dt b {
    font-weight: bold;
    font-size: 16px;
}

.layui-rate {
    padding: 0 !important;
}

#comment .comment_list {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #d7d7d7;
    margin-top: 10px;
}

#comment .comment_list .comment_peo {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    color: rgb(76, 76, 76);
    border-bottom: 1px solid #d7d7d7;
    padding-top: 20px;
}

#rate {
    font-size: 14px;
}

#comment .comment_list .comment_peo .comment_peo_list {
    float: left;
    width: 600px;
}

#comment .comment_list .comment_peo .comment_peo_list p, #comment .comment_list .comment_peo .comment_peo_list b {
    margin-bottom: 20px;
}

.comment_peo_list b {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

#comment .comment_list .comment_peo .comment_peo_name {
    float: right;
    margin-right: 34px;
}

.model-stl-view, #showModelContainer {
    width: 857px;
    height: 600px;
    margin-top: 20px;
}

#showModelContainer {
    background: #f2f2f2;
}

.showModelContainer canvas {
    width: 857px;
    height: 600px;
    outline: none;
}

/* 3D加载的进度条样式 */

.content {
    position: relative;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 25px;
    border-radius: 25px;
}

.progress .loading {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 25px;
}

.progress .trends {
    width: 0;
    height: 100%;
    background: #e80000;
    box-shadow: 1px 1px 10px #e80000;
    border-radius: 25px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-size: 16px;
}

/* 3D底部导航栏样式 */
.webgl-controls {
    position: absolute;
    bottom: 20px;
    background: transparent;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.5s;
    height: 36px;
    width: 100%;
}

.webgl-controls:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.webgl-controls button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.webgl-button {
    width: 36px;
    height: 36px;
    padding: 1px;
}

.l1 .icon-show:first-child {
    display: block;
}

.l2 .icon-show:last-child {
    display: block;
}

.webgl-button img {
    display: none;
    width: 100%;
    height: 100%;
}