.order_content {
    width: 100%;
    overflow: hidden;
    margin-top: 103px;
}

.order_content .order_content_list {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0 97px;
}

.order_content h2 {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
    font-size: 18px;
    color: #333333;
    position: relative;
    padding-left: 15px;
    font-weight: bold;
}

.order_content h2:before {
    display: inline-block;
    width: 5px;
    content: '';
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background: rgb(232, 0, 0);
    border-radius: 5px;
}

.order_content .bar {
    width: 100%;
    margin: 20px 0 46px;
}

form {
    width: 100%;
    overflow: hidden;
    border: 1px solid rgb(214, 214, 214);
    padding: 28px;
}

#saveAddress {
    border-bottom: none;
}

#saveGoods {
    border-top: none;
}

form>div {
    width: 100%;
    overflow: hidden;
}

form>div p {
    width: 100%;
    height: 42px;
    background: rgb(242, 242, 242);
    line-height: 42px;
    padding-left: 20px;
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
}

form>div ul {
    width: 100%;
    overflow: hidden;
}

form>div ul li {
    padding-left: 20px;
}

.concat-msg ol {
    width: 100%;
    overflow: hidden;
}

.concat-msg ol li {
    width: 100%;
    overflow: hidden;
    padding: 0 10px;
}

.concat-msg ol li div:first-child {
    float: left;
}

.concat-msg ol li div {
    float: right;
    line-height: 34px;
}

.concat-msg ol li div span {
    display: inline-block;
    padding: 0 20px;
    color: #666;
    height: 34px;
    border: 1px solid #c2c2c2;
    background: rgb(255, 255, 255);
    line-height: 32px;
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 5px;
}

.setDefault{
    color: #666 !important;
    border-color: #e80000 !important;
    background: rgb(255, 244, 244) !important;
}

.alDefault{
    color: #409fff !important;
}

.concat-msg ol li div strong {
    color: #666;
    font-size: 16px;
    max-width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    vertical-align: middle;
}

.concat-msg ol li div b {
    color: #e80000;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

.concat-msg ol li div b:hover {
    color: #409fff;
}

.concat-msg .addAddress {
    width: 100px;
    height: 36px;
    color: #fff;
    background: #409fff;
    font-size: 16px;
    line-height: 36px;
    margin: 26px 0 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
}

.concat-msg .addAddress:hover {
    background: #e80000;
}

.concat-msg ul li {
    width: 100%;
    line-height: 34px;
    overflow: hidden;
    margin-bottom: 22px;
}

.concat-msg ul li span {
    display: inline-block;
    height: 100%;
    width: 90px;
    color: #666;
    font-size: 16px;
    vertical-align: middle;
    float: left;
}

.concat-msg ul li input, .other-msg ul li input[type="text"] {
    width: 334px;
    height: 32px;
    line-height: 32px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    text-indent: 1em;
}

.concat-msg ul li textarea {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    text-indent: 1em;
    resize: none;
}

.needsInp{
    /* display: none; */
}

.concat-msg .addressBtn {
    width: 100%;
    overflow: hidden;
    margin-left: 90px;
}

.concat-msg .addressBtn button {
    outline: none;
    width: 120px;
    height: 34px;
    text-align: center;
    line-height: 32px;
    color: #666;
    background: rgb(242, 242, 242);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    cursor: pointer;
}

.concat-msg .addressBtn button:hover {
    color: #fff;
    background: #e80000;
    border-color: #e80000;
}

.com-sel {
    display: block;
    cursor: pointer;
    float: left;
}

.com-opt {
    border: 1px solid rgb(214, 214, 214) !important;
    border-radius: 5px;
    width: 334px;
    height: 34px;
    line-height: 34px;
    padding: 0 22px 0 15px;
    outline-style: none;
    color: #666666;
    font-size: 16px;
    border: none;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../images/jiantou.png) no-repeat 310px center transparent;
    background-size: 5%;
    cursor: pointer;
    display: block !important;
    margin-right: 10px;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/

select::-ms-expand {
    display: none;
}

.product-msg {
    width: 100%;
    overflow: hidden;
}

.company {
    border-bottom: 1px solid #e80000;
    margin-top: -15px;
    padding-left: 20px;
}

.company input {
    display: inline-block !important;
    margin: 4px 6px 0 0;
    float: left;
}

.layui-form-checkbox, .layui-form-select {
    display: none;
}

.product-msg .companyName {
    width: 90%;
    padding-bottom: 15px;
    color: #409fff;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

table {
    width: 100%;
    font-size: 16px;
    color: #666;
    margin-bottom: 60px;
}

table tr:first-child {
    height: 52px;
    line-height: 52px;
    background: none;
}

table tr {
    background: rgb(248, 248, 248);
    height: 105px;
}

table tr td {
    width: 10%;
    text-align: center;
}

table tr .proName {
    width: 25%;
}

table tr .proNameAlign {
    text-align: left;
    padding: 0 15px;
}

table tr img {
    width: 90px;
    height: 90px;
    border: 1px solid #dcdcdc;
}

table tr td div {
    display: inline-block;
}

table tr td i {
    color: #e80000;
    font-size: 25px !important;
    cursor: pointer;
}

table tr .price,table tr .number, table tr .sum {
    color: #e80000;
}

table tr td input[type="text"] {
    width: 54px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
    float: left;
    border-color: rgb(214, 214, 214);
    border-left: none;
    border-right: none;
    font-size: 16px;
    color: #e80000;
}

table tr td span {
    display: block;
    float: left;
    width: 24px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid rgb(214, 214, 214);
    outline: none;
    color: #666;
    cursor: pointer;
}

table tr td div span:hover {
    color: #e80000;
    border-color: #e80000;
}

.other-msg {
    width: 100%;
    overflow: hidden;
}

.other-msg ul {
    width: 100%;
    overflow: hidden;
}

.other-msg ul li {
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    color: #666;
    margin-bottom: 17px;
}

.other-msg ul li>div {
    width: 50%;
    float: left;
    line-height: 34px;
    padding-left: 60px;
}

.other-msg ul li>div:first-child {
    padding-left: 0;
}

.other-msg ul li span {
    display: inline-block;
    height: 100%;
    width: 138px;
    color: #666;
    font-size: 16px;
    vertical-align: middle;
    float: left;
}

.other-msg ul li strong {
    width: 138px;
    margin-bottom: 11px;
    display: block;
    float: left;
}

.other-msg ul li textarea {
    border: 1px solid rgb(214, 214, 214);
    resize: none;
    text-indent: 1em;
    padding-top: 3px;
}

input[type="radio"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 5px;
}

.other-msg ul li input[value="true"], .other-msg ul li input[value="true"] {
    margin-left: 0;
}

.layui-form-radio {
    display: none;
}

.layui-form input[type='radio'], .layui-form input[type='checkbox'] {
    display: inline-block;
    margin-right: 4px;
}

.other-msg textarea {
    width: 955px;
    height: 98px;
    border-color: rgb(214, 214, 214);
    border-radius: 5px;
}

.summary {
    width: 100%;
    overflow: hidden;
    text-align: right;
    color: #666;
    font-size: 14px;
    margin-top: 50px;
}

.summary div span{
    color: #e80000;
    text-decoration: underline;
    margin: 0 5px;
}

.summary div strong{
    color: #e80000;
    font-weight: bold;
    font-size: 20px;
    margin-right: 18px;
}

.btn {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    height: 60px;
    line-height: 60px;
}


.btn input {
    width: 126px;
    height: 60px;
    border: none;
    background: #e80000;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    outline: none;
    cursor: pointer;
}

.btn input:hover {
    background: rgba(232, 0, 0, 0.6);
}