.w {
    width: 1200px;
    margin: 0 auto;
}

.main {
    overflow: hidden;
    margin-top: 125px;
}

.main-title {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
    font-size: 18px;
    color: #333333;
    position: relative;
    padding-left: 15px;
    font-weight: bold;
}

.main-title:before {
    display: inline-block;
    width: 5px;
    content: '';
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background: rgb(232, 0, 0);
    border-radius: 5px;
}

.ban {
    width: 1192px;
    height: 47px;
    margin-top: 20px;
}

.sp-tab {
    overflow: hidden;
    margin-top: 46px;
}

.js-tab {
    width: 100%;
}

.js-tab thead tr {
    height: 40px;
    line-height: 40px;
    background: #e9e9e9;
}

.thead-span {
    padding-left: 14px;
}

.js-tab thead tr td input {
    vertical-align: middle;
}

.thead-span input {
    margin-right: 11px;
}

.js-tab tbody tr:nth-child(even) {
    background: #f9f8f8;
}

.company-name {
    border-bottom: 2px solid #e80000;
    height: 47px;
    line-height: 47px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    padding-left: 14px;
}

.company-name a {
    color: #409fff;
}

.company-name a:hover {
    color: #e80000;
}

.company-name input {
    margin-right: 11px;
}

.goodsList {
    height: 140px;
}

.js-tab .all-sp {
    overflow: hidden;
    padding-left: 14px;
}

.js-tab .all-sp input {
    margin-right: 11px;
    vertical-align: middle;
    float: left;
    margin-top: 35px;
}

.js-tab .all-sp a {
    width: 88px;
    height: 88px;
    border: 1px solid #e3e3e3;
    display: block;
    float: left;
}

.js-tab .all-sp a img {
    width: 100%;
    height: 100%;
}

.sp-p {
    width: 484px;
    line-height: 20px;
    margin-left: 16px;
}

.sp-p a {
    width: 100%;
    color: #666;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

.sp-p a:hover {
    color: #e80000;
}

.under-span {
    color: #e80000;
}

.num-div {
    width: 83px;
    overflow: hidden;
    height: 25px;
}

.num-div a {
    display: block;
    width: 19px;
    height: 25px;
    line-height: 23px;
    float: left;
    border: 1px solid #e3e3e3;
}

.num-div a:hover {
    color: #e80000;
    border-color: #e80000;
}

.num-div input {
    width: 43px;
    height: 25px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    float: left;
    border-left: none;
    border-right: none;
    text-align: center;
    line-height: 23px;
    color: #e80000;
    font-weight: bold;
    font-size: 14px;
}

.remove-a {
    display: block;
    color: #e80000;
}

.remove-a i{
    font-size: 25px;
}

.cartNull {
    display: none;
}

.cartNull img {
    width: 100%;
    height: 100%;
}

.cart-jiesuan {
    height: 58px;
    border: 1px solid #e80000;
    background: #fff5f5;
    margin: 30px 0;
    overflow: hidden;
}

.all-cart {
    overflow: hidden;
    padding-left: 14px;
    float: left;
    line-height: 57px;
}

.all-cart input {
    vertical-align: middle;
    height: 57px;
    margin-right: 11px;
}

.all-cart a {
    padding-right: 15px;
    color: #666;
}

.cart-div {
    float: right;
    text-align: right;
    line-height: 57px;
}

.jiesuan-btn-w .jiesuan-btn, .cart-btn {
    display: block;
    width: 125px;
    height: 60px;
    color: #fff;
    text-align: center;
    background: #e80000;
    font-size: 24px;
    float: right;
    margin-left: 20px;
}

.cart-btn:hover{
    color: #fff;
    background: #ec6b6b;
}

.fr {
    float: right;
}

.jiesuan-btn-w em, .cart-div em {
    font-size: 20px;
    color: #e80000;
    font-weight: bold;
}