<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tz="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="~{model/Head :: head(~{::title},_,_,${'miniui,common'})}">
        <title>角色管理</title>
    </th:block>
</head>
<body>
<th:block th:replace="~{model/SearchBar :: SearchBar('form1',~{::content})}">
    <th:block th:fragment="content">
        <label class="hmq-label" text="系统">
            <input class="mini-combobox" name="processSystemType" onvaluechanged="Systemchange" id="processSystemType"
                   url="/system/right/combobox/rightModule" emptyText="全部" nullItemText="全部" showNullItem="true"/>
        </label>
        <label class="hmq-label" text="模块">
            <input class="mini-combobox" name="processModule" textField="text" valueField="text" onvaluechanged="processModulechange" id="processModule"
                   emptyText="全部" nullItemText="全部" showNullItem="true"/>
        </label>
        <label class="hmq-label" text="分类">
            <input class="mini-combobox" name="processClassify" id="processClassify" textField="text" valueField="text" url="" emptyText="全部" nullItemText="全部" showNullItem="true"/>
        </label>
        <label class="hmq-label" text="标题">
            <input class="mini-textbox" name="title"/>
        </label>
        <label class="hmq-label" text="办理人">
            <input class="mini-textbox" name="transactor"/>
        </label>
        <label class="hmq-label" text="状态">
            <select id="processType" name="processType" class="mini-combobox" style="width: 70px;" emptyText="全部">
                <option value="">全部</option>
                <option value="3">已完成</option>
                <option value="4">已取消</option>
                <option value="2">办理中</option>
            </select>
        </label>
    </th:block>
</th:block>
<!--撑满页面-->
<div class="mini-fit">
    <div tz:datagrid="datagrid" id="srch_grid" idField="id" sortField="time" sortOrder="desc" url="getMatter">
        <div property="columns">
            <div tz:datagrid="indexcolumn"></div>
            <div tz:datagrid="column" field="processSystemType" width="100">系统</div>
            <div tz:datagrid="column" field="module" width="100">模块</div>
            <div tz:datagrid="column" field="processClassify" width="100">分类</div>
            <div tz:datagrid="column" field="title" width="400">标题</div>
            <div tz:datagrid="column" field="linkName" width="100">当前环节</div>
            <div tz:datagrid="column" field="transactor" width="100">办理人</div>
            <div tz:datagrid="column" field="time" width="120" align="center">提交时间</div>
            <div tz:datagrid="column" field="processType" width="100">状态</div>
            <div tz:datagrid="column" width="100%"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    mini.parse();
    var form = new mini.Form("form1");
    var grid = mini.get("srch_grid");
    grid.bindSearchForm(form);

    $(window).on('loadedbutton', function () {
        //由于该页面被嵌入tab中，而按钮是根据当前menu_id配置的，所以要选择性的隐藏部分按钮
        if (window.top != (window.parent)) {
            $(mini.getChildControls(document.getElementById('btnbar'))).each(function (index, control) {
                if (!!~['办理'].indexOf(control.getText())) {
                    control.hide();
                }
            });
        }
    });

    //系统改变
    function Systemchange() {
        var system = mini.get("processSystemType").getValue();
        if (system) {
            var url = '/system/right/combobox/menu/' + system + '/ROOT';
            mini.get("processModule").setUrl(url);
        }
    }

    function processModulechange() {
        var system = mini.get("processSystemType").getValue();
        var Module = mini.get("processModule").getValue();
        if (system && Module) {
            var url = '/system/workflow/backlog/getProcessClassify/' + Module + '/' + system;
            mini.get("processClassify").setUrl(url);
        }
    }

    function search_option() {
        grid.load();
    }

    function read_option(e) {
        var row = grid.getSelected();
        var miniopenwin = miniopen({
            url: "approval.html",
            title: "查阅",
            action: 'view',
            data: row,
        });
        miniopenwin.max();

    }

    grid.on("DrawCell", function (e) {
        if (e.field == "processType") {
            if (e.record.processType == "3") {
                e.cellHtml = '已完成';
            } else if (e.record.processType == "4") {
                e.cellHtml = '已取消';
            } else {
                e.cellHtml = '办理中';
            }
        }
    });

    function cancel_option(e) {
        var row = grid.getSelected();
        if (row.processType == "4") {
            hmq.tipDanger('流程已取消');
            return;
        } else if (row.processType == "3") {
            hmq.tipDanger('流程已完成');
            return;
        } else if (row) {
            $['post']("/system/workflow/process/repeal", JSON.stringify({
                processId: row.processId,
                businessId: row.businessId,
            }), function (res) {
                if (200 === res.code) {
                    hmq.tipSuccess(res.msg || '提交成功', {
                        exec: function () {
                            search_option();
                        }
                    });
                } else {
                    hmq.tipDanger('提交失败');
                }
            }, null, {
                contentType: 'application/json',
                loading: true,
            });
        }
    }

    grid.on('DrawCell', function (e) {
        if (e.field == "time" && e.value != null) {
            e.cellHtml = mini.formatDate(new Date(e.value), "yyyy-MM-dd HH:mm");
        }
    });
</script>
</body>
</html>