::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
}

li {
    list-style: none;
}

a, u {
    text-decoration: none;
}

input {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.graph-container, .graph-container-html-Elements, #canvas_2 {
    padding-left: 61px;
}

.changeOper {
    width: 50px;
    position: absolute;
    bottom: 300px;
    left: 10px;
    z-index: 10;
    border: 1px solid grey;
    text-align: center;
    padding: 5px 0;
    background: #fff;
}

.changeOper button {
    margin-top: 5px;
    padding: 0;
    background: none;
    border: none;
    display: inline-block;
    color: #000;
    font-size: 22px;
    width: 32px;
    height: 34px;
}

.changeOper button:first-child {
    margin-top: 0;
}

#toolBar {
    width: 50px;
    position: fixed;
    bottom: 60px;
    left: 10px;
    border: 1px solid grey;
    text-align: center;
    padding: 10px 0;
    background: #fff;
    z-index: 10;
}

#toolBar button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    display: inline-block;
    margin-top: 25px;
    color: #000;
    font-size: 30px;
    width: 32px;
    height: 32px;
}

#toolBar button:first-child {
    margin-top: 0;
}

.tools {
    display: none;
    position: absolute;
    z-index: 99;
    width: 100px;
    height: 30px;
    background: #fff;
    border: 1px solid #111;
    border-radius: 5px;
    text-align: justify;
    /* padding: 0 5px; */
    font-size: 14px;
}

.tools i:first-child {
    text-align: left;
}

.tools i {
    display: inline-block;
    width: 37%;
    height: 100%;
    line-height: 28px;
    text-align: right;
    font-style: normal;
    padding: 0 5px;
}

.tools:hover {
    background: rgb(230, 241, 255);
    border-color: rgb(230, 241, 255);
    cursor: pointer;
}

/* 提示框的样式 */

.g6-tooltip {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    font-size: 12px;
    color: #545454;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 8px;
    box-shadow: rgb(174, 174, 174) 0px 0px 10px;
}

.toolbox {
    width: 100%;
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 199;
    text-align: center;
}

.toolbox button {
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid #000;
    display: inline-block;
    /* margin-top: 25px; */
    color: #000;
    font-size: 15px;
    /* width: 29px; */
    padding: 0px 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 5px;
}

.g6-label-input {
    position: 'absolute';
    z-index: 10;
    display: 'none'
}

.workflow_name {
    width: 200px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: #fff;
    border: 1px solid rgb(204, 203, 203);
    color: #000;
}

.workflow_name dl {
    width: 100%;
    overflow: hidden;
    /* border-top: 1px solid rgb(204, 203, 203); */
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}

.workflow_name dl dt {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    background: rgb(218, 216, 216);
}

.workflow_name dl dd {
    width: 171px;
    padding: 5px 10px 5px 5px;
    font-size: 16px;
}

.workflow_name dl dd p {
    font-size: 16px;
    width: 171px;
    height: 100%;
    font-weight: normal;
    margin-bottom: 3px;
}

.workflow_name dl dd input {
    width: 171px;
    display: inline-block;
    border: 1px solid #666;
    height: 25px;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 15px;
    color: #000;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.workflow_name dl dd a {
    display: inline-block;
    border: 1px solid #666;
    width: 171px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    text-indent: 10px;
    color: #000;
    font-size: 15px;
}

.workflow_name dl dd div {
    width: 183px;
    height: 25px;
    line-height: 25px;
    border-color: #666;
    font-size: 15px;
    cursor: pointer;
    font-weight: normal;
}

textarea {
    width: 183px;
    max-width: 183px;
    display: inline-block;
    border: 1px solid #666;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 15px;
    color: #000;
    min-height: 65px;
    padding-top: 3px;
    font-family: '微软雅黑';
}

#edgeDesc {
    min-height: 100px;
}

#peoName {
    cursor: pointer;
}

.nodesUpdate {
    display: none;
}

.edgesUpdate {
    display: none;
}

/* 下拉框 */

.select_border {
    width: 59px;
    height: 29px;
    *background: #fff;
    background: #fff;
    *border: 1px solid #09f;
    *padding: 4px;
    *height: 20px;
}

.container {
    *border: 0;
    *position: relative;
    *height: 18px;
    *overflow: hidden;
}

.select {
    border: 1px solid #666;
    /* padding: 4px 3px; */
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    width: 100%;
    /* *: ; */
    /* width: 52px; */
    margin: -1px;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 6px;
}

.select_border, .container {
    *width: 50px;
}
select:disabled {
    cursor: not-allowed;
    background-color: -internal-light-dark-color(rgb(235, 235, 228), rgb(45, 45, 45));
}
input:disabled {
    cursor: not-allowed;
    background: none !important;
    /* background-color: -internal-light-dark-color(rgb(235, 235, 228), rgb(45, 45, 45)); */
}

.layui-layer-dialog .layui-layer-content {
    position: relative;
    padding: 15px 20px;
    line-height: 24px;
    word-break: break-all;
    overflow: hidden;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    background: rgb(21,160,245);
    color: #fff;
    border: none;
}

/* 复选框样式 */

.remember-password-content {
    position: relative;
    cursor: default !important;
}

.remember-password-content input[type=checkbox]{
    width: 16px;
    height: 16px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    font-size: initial;
}

.remember-password-content .remember-me-label {
    color: #646261;
    margin-left: 25px;
    cursor: pointer;
}
.remember-password-content .remember-me-label::selection{
    background: rgba(0,0,0,0);
}
.remember-password-content span {
    position: absolute;
    top: 1px;
    width: 16px;
    height: 16px;
    border: 1px solid #666;
    border-radius: 3px;
    background: url(../img/login/check.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 20px;
    -webkit-transition: background-position-y 0.1s linear;
    -o-transition: background-position-y 0.1s linear;
    transition: background-position-y 0.1s linear;
}

.remember-password-content input[type=checkbox]:checked+span {
    background-position-y: 0px;
}