<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--//*
@Function 查询栏模块(多行模式)
@param name form表单 id属性和name属性
@param content 需要引入的dom节点区块
@return html
*//
-->
<div th:fragment="SearchBar(name,content)" id="__search-bar__" class="mini-toolbar">
    <form th:id="${name}" th:name="${name}" method="post" onsubmit="javascript:return false;">
        <table style="width:100%;">
            <tr>
                <td style="word-break: break-all;" th:insert="${content}"></td>
            </tr>
        </table>
    </form>
    <span id="__expand-action__" class="fa iconfont icon-left-triangle-solid" title="展开" style="display: none;"></span>
    <style type="text/css">
        div#__search-bar__ {
            padding: 2px;
            height: 45px;
            overflow: hidden;
            border-bottom: 0;
        }

        div#__search-bar__ #__expand-action__ {
            position: absolute;
            right: 10px;
            top: 15px;
            cursor: pointer;
            display: none;
        }
    </style>
    <script type="text/javascript">
        (function () {
            'use strict';
            //单行高度
            var SINGLE_ROW_HEIGHT = 45;
            //查询栏
            var searchBar = document.getElementById('__search-bar__');
            //展开/收缩按钮
            var expandAction = document.getElementById('__expand-action__');

            function searchBarResize() {
                //var onlySingleLine = searchBar.clientHeight === searchBar.scrollHeight;
                var onlySingleLine = Math.abs(searchBar.clientHeight - searchBar.scrollHeight) < (SINGLE_ROW_HEIGHT / 2);
                expandAction.setAttribute('style', onlySingleLine ? '' : 'display:block;');
            }

            if (window.addEventListener) {
                window.addEventListener('resize', searchBarResize, false);
                window.addEventListener('load', searchBarResize, false);
            } else if (typeof (jQuery) !== 'undefined') {
                $(window).on('resize', searchBarResize);
                $(window).on('load', searchBarResize);
            } else {
                window.onresize = searchBarResize;
                window.onload = searchBarResize;
                console && console.error('The browser version is too low and the jQuery environment is not loaded, which will cause instability');
            }

            expandAction.onclick = function (e) {
                var e = e || window['event'];
                var target = e.target || window.srcElement;
                var isHidden = 'hidden' === searchBar.style.overflow;
                searchBar.setAttribute('style', isHidden ? 'overflow:visiable !important;' : 'overflow:hidden !important;height:auto !important;');
                target.setAttribute('title', isHidden ? '展开' : '收缩');
                target.className = isHidden ? 'fa iconfont icon-left-triangle-solid' : 'fa iconfont icon-down-triangle-solid';
                (typeof (mini) !== 'undefined') && mini.layout();
            };
            searchBarResize();
        })(document);
    </script>
</div>
<!--//*
@Function 查询栏模块(单行模式)
@param name form表单 id属性和name属性
@param content 需要引入的dom节点区块
@return html
*//
-->
<div th:fragment="SearchSingleBar(name,content)" id="__search-single-bar__" class="mini-toolbar">
    <form th:id="${name}" th:name="${name}" method="post" onsubmit="javascript:return false;">
        <table style="width:100%;">
            <tr style="white-space: nowrap;">
                <td style="word-break: break-all;" th:insert="${content}"></td>
            </tr>
        </table>
    </form>
    <style type="text/css">
        div#__search-single-bar__ {
            padding: 2px;
            height: 45px;
            overflow: hidden;
            border-bottom: 0;
        }
    </style>
</div>
</html>